@import 'tailwindcss/dist/base.css';
@import 'tailwindcss/dist/components.css';
@import 'tailwindcss/dist/utilities.css';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#app{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

.container{
    display: grid;
    grid-template-columns: 3fr 5fr;
    grid-template-rows: 1fr 1fr;
    width: 550px;
    padding: 20px;
    background-color: #86a82011;
    border-radius: 15px;
    margin:20px 0px 0px 0px;
    box-shadow:  -1px 5px 9px 4px rgb(0 0 0 / 5%);
}

.container:hover{
    transform: scale(1.05);
    transition: all ease-in 150ms;
    box-shadow:  -1px 5px 9px 4px rgb(0 0 0 / 8%);
}

.tittle{
    text-align: start;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    font-weight: 600 ;
    color: black;

}

.containerImagen{
    grid-row: 1/3;
    grid-column: 1/2;
    justify-content: end;
    align-items: center;
    display: flex;
    height: 200px;  
    padding-right: 40px;
    
}
.imagen{
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    
}

.price{
    text-align: start;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.757);
}